
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(135, 135, 135, 0.8) 0%, rgba(135,135,135,0.4) 50%), url('assets/banner.jpg');">
  <div class="banner-content">
    <div class="banner-title">
      <h1>ZAKŁAD SAMOCHODOWY</h1>
    </div>
    <div class="container">
      <div class="btn btn-offer">
        <%= link_to '#oferta', class: "link-no-deco" do %>
        <p>Sprawdź naszą ofertę</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="oferta" class="content-box">
  <div class="row row-no-padding">
    <% @categories.each do |category| %>
    <%= link_to category_path(category) do %>
    <div class="col-xs-12 col-md-4 text-center cat-details">
      <%= image_tag(category.icon.url, class: "cat-icon") %>
      <h3><%= category.name %></h3>
      <p><%= category.description %></p>
    </div>
    <% end %>
    <% end %>
  </div>
</div>

<!-- tabs -->

<div class="row row-no-padding text-center company" id="zaklad"><h2>O FIRMIE</h2></div>
<div class="row row-no-padding text-center about">
  <div class="col-xs-12 col-sm-6">
    tutaj jakieś ikonki
  </div>
  <div class="col-xs-12 col-sm-6">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.</p>
  </div>

</div>
<ul class="company-tabs" id="jumping" role="tablist">
 <li role="presentation" class="company-tab active"><a href="#raz" data-toggle="tab">
   <h3 class="hidden-xs">Zakład najwyższego zaufania</h3>
   <h6 class="hidden-sm hidden-md hidden-lg">Zaufanie</h6>
 </a></li>
 <li role="presentation" class="company-tab"><a  href="#dwa" data-toggle="tab">
   <h3 class="hidden-xs">Wykwalifikowana kadra</h3>
   <h6 class="hidden-sm hidden-md hidden-lg">Kadra</h6>
 </a></li>
 <li role="presentation" class="company-tab"><a  href="#trzy" data-toggle="tab">
   <h3 class="hidden-xs">Zaopatrzenie</h3>
   <h6 class="hidden-sm hidden-md hidden-lg">Zaopatrzenie</h6>
 </a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="raz" role="tabpanel">
    <div class="row row-no-padding">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h3>Główna myśl</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="dwa" role="tabpanel">
    Kadra
  </div>
  <div class="tab-pane" id="trzy" role="tabpanel">
    Zaopatrzenie
  </div>
</div>

<div id="kontakt" class="contact-box">
  <div class="row row-no-padding text-center contact"><h2>KONTAKT</h2></div>


  <div class="row row-no-padding">
    <div class="col-xs-12 col-md-6 address-box">
        <div class="address">
          <h2>Zakład ALCAR</h2>
          <br>
          <div class="address-details">
            <i class="fas fa-map-marker-alt"></i> <p> ul. Kraszewskiego 31, 20-463 Lublin</p>
          </div>
          <br>
          <div class="address-details">
            <i class="fas fa-phone"></i><p>81 744 18 52</p>
          </div>
          <div class="opening-hours">
            <h3 class="opening-hours-title">Godziny otwarcia</h3>
            <div>
              <% @hours.each do |hour| %>
              <div class="day">
              <h5><strong><%= hour.day %></strong></h5>
              <p><%= hour.hours %></p>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <div class="col-xs-12 col-md-6 map-box">
      <div id="map" style="height: 600px;">xyz</div>
    </div>
  </div>

</div>
