
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(135, 135, 135, 0.8) 0%, rgba(135,135,135,0.4) 50%), url(<%= image_path 'banner.jpg' %>);">
  <div class="banner-content">
    <h1 class="banner-title">SERWIS SAMOCHODOWY</h1>
      <%= link_to '#oferta', class: "btn btn-offer link-no-deco" do %>
      <p>Sprawdź naszą ofertę</p>
      <% end %>
  </div>
</div>

<div id="oferta" class="content-box">
  <div class="row row-no-padding">
    <br>
    <% @categories.each do |category| %>
    <%= link_to category_path(category) do %>
    <div class="col-xs-12 col-md-4 text-center cat-details">
      <%= image_tag(category.icon.url, class: "cat-icon") %>
      <h3><%= category.name %></h3>
    </div>
    <% end %>
    <% end %>
  </div>
  <div class="spacer"></div>
</div>

<!-- tabs -->

<!-- <div class="row row-no-padding text-center company" id="zaklad"><h2>O FIRMIE</h2></div> -->
<div class="row row-no-padding text-center about">
  <div class="col-xs-12 col-sm-6 info-highlight">
    <h1>DZIAŁAMY </h1>
    <h1>OD <span style="color: #FF0025; font-size: 92px;">1986</span></h1>
  </div>
  <div class="col-xs-12 col-sm-5 company-description">
    <h4>ALCAR już od <strong>ponad 30 lat</strong> działa na rynku zabezpieczeń pojazdów.</h4>
    <br>
    <p>W wyniku rozwoju rynku i potrzeb klientów działalność była konsekwentnie
      rozszerzana o usługi z zakresu <strong>elektromechaniki</strong>, <strong>obsługi serwisowej</strong> pojazdu
      (oleje, filtry , klocki hamulcowe itp ), <strong>klimatyzacji</strong>, <strong>wymiany opon</strong> i obsługi
      <strong>systemów GPS</strong>.
      <br><br>
      O jakości usług świadczyć może ilość zadowolonych klientów,
      którzy zwracają się do nas z problemami o różnym podłożu. Współpracujemy
      zarówno z klientami indywidualnymi, jak i przedsiębiorstwami.</p>
    </div>

  </div>
  <ul class="company-tabs" id="jumping" role="tablist">
    <li role="presentation" class="company-tab active"><a href="#raz" data-toggle="tab">
      <h3 class="hidden-xs">Zakład najwyższego zaufania</h3>
      <h6 class="hidden-sm hidden-md hidden-lg">Zaufanie</h6>
    </a></li>
    <li role="presentation" class="company-tab"><a  href="#dwa" data-toggle="tab">
      <h3 class="hidden-xs">Profesjonalizm</h3>
      <h6 class="hidden-sm hidden-md hidden-lg">Profesjonalizm</h6>
    </a></li>
    <li role="presentation" class="company-tab"><a  href="#trzy" data-toggle="tab">
      <h3 class="hidden-xs">USŁUGI</h3>
      <h6 class="hidden-sm hidden-md hidden-lg">USŁUGI</h6>
    </a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane tab-pane-padding active" id="raz" role="tabpanel">
      <div class="row row-no-padding">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-left company-details">
          <h3>Tytuł Zakładu Najwyższego Zaufania</h3>
          <p>nadany przez TECHOM Nr 70/97.
            <br><br>
          <h3>Autoryzacja</h3>
            przez Przemysłowy Instytut Motoryzacji (Nr 15/BLE/18/ZK/98).
            <br><br>

            Jako Zakład Kontroli Zabezpieczeń Przeciwkradzieżowych wykonujemy dla potrzeb
            firm ubezpieczeniowych oraz osób fizycznych oceny skuteczności zabezpieczeń z
            określeniem ich klasy. </p>
          </div>
        </div>
      </div>
      <div class="tab-pane tab-pane-padding" id="dwa" role="tabpanel">
        <div class="row row-no-padding">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-left company-details">
            <p>
              Posiadane uprawnienia i wiadomości pozwalają firmie na prowadzenie
              profesjonalnych usług w zakresie doboru i montażu zabezpieczeń dla pojazdów
              specjalistycznych min. tj. bankowozów..
            </p>
            <p>
              W celu świadczenia usług używamy sprzętu
              najwyższej klasy gwarantującego wysoką i trwałą jakość.
            </p>
            <p>
              Kadra pracownicza
              posiada licencje pracowników zabezpieczenia technicznego wydane przez Komendę
              Wojewódzką Policji.
            </p>
          </div>
        </div>
      </div>
      <div class="tab-pane tab-pane-padding" id="trzy" role="tabpanel">
        <div class="row row-no-padding">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-left company-details">
            <p>Zakład oferuje szeroki zakres usług obejmujący zabezpieczenia, montaż,
              naprawę i konserwację klimatyzacji, wymianę opon, montaż GPS,  naprawy z
              zakresu elektromechaniki pojazdowej.
            </p>
            <p>Prowadzimy zaopatrzenie serwisów
              samochodowych oraz instalatorów indywidualnych w sprzęt i akcesoria
              zabezpieczające.</p>
              <p>Oferujemy sprzęt radiowy CB z montażem. Wykonujemy
                diagnostykę komputerową układów elektrycznych pojazdów, sterowników silnika,
                układów ABS, układów poduszek powietrznych itp.</p>
                <br>
                <p>Więcej informacji znaleźć można w ofercie.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="kontakt" class="contact-box">
          <div class="row row-no-padding text-center contact"><h2>KONTAKT</h2></div>


          <div class="row row-no-padding">
            <div class="col-xs-12 col-md-6 address-box">
              <div class="address">
                <h2>ALCAR Lech Żuber</h2>
                <br>
                <div class="address-details">
                  <i class="fas fa-map-marker-alt"></i> <p> ul. Kraszewskiego 31, 20-463 Lublin <br> NIP: 7120306343</p>
                </div>
                <br>
                <div class="address-details">
                  <i class="fas fa-phone"></i><p>81 744 18 52</p>
                </div>
                <br>
                <div class="address-details">
                  <i class="fa fa-at"></i><p>alcar@alcar.lublin.pl</p>
                </div>
                <div class="opening-hours">
                  <h3 class="opening-hours-title">Godziny otwarcia</h3>
                  <div style="background-color: #f4f4f4;">
                    <% @hours.each do |hour| %>
                    <div class="day">
                      <h5><strong><%= hour.day %></strong>
                        <% if user_signed_in? && current_user.admin? %>
                        <%= link_to "| EDYTUJ |", edit_hour_path(hour), style:"color: #2b2b2b;" %>
                        <% end %>
                      </h5>
                      <p><%= hour.hours %></p>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div
              id="map"
              style="width: 100%;
              height: 600px; display: flex;"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
              ></div>
            </div>
          </div>

        </div>
