<div class="category-banner" style="background-image: linear-gradient(-225deg, rgba(135, 135, 135, 0.8) 0%, rgba(135,135,135,0.4) 50%), url(<%= @product.category.photo %>);">
  <div class="banner-content">
    <div class="cat-banner-title">
      <h1><%= @product.name %></h1>
    </div>
  </div>
</div>

<div class="cat-content">
  <div class="row row-no-padding">
    <%= render 'shared/back_button', link: category_path(@product.category) %>
    <%= render 'shared/edit_button', link: edit_category_product_path(@product) %>

  </div>
  <div class="row row-no-padding">
    <div class="col-xs-12 col-sm-4 cat-description"><p><%= @product.long_description %></p></div>
    <div class="col-xs-12 col-sm-7 cat-description">
      <h3 class="text-center">Usługi</h3>
      <% @product.options.each do |option| %>
        <div class="product-option">
          <div class="cat-product-details">
            <h5><%= option.name %></h5>
          </div>
          <p class="cat-product-price">ceny od xxx pln</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
